<<<<<<< HEAD
body {
    background-color: #E5E5E5;
}
.page-header {
      background-color: #E5E5E5;
}
.logo-web {
      color: #2196F3;
      font-family: Roboto;
      font-weight: 700;
      text-decoration: none;
}
.logo-studio {
      color: #000000;
      }
/* колір Studio #000000 */
/* колір основного тексту #212121 */
/* вторинний колір тексту #757575 */
/* акцент #2196F3*/
/* колір секції'наша команда' #E5E5E5 */

font-family: 'Raleway', sans-serif;
=======
/* header*/
body {
    background-color: #E5E5E5;
}
.page-header {
      background-color: #E5E5E5;
}
.logo-web {
      color: #2196F3;
      font-family: Roboto;
      font-weight: 700;
      text-decoration: none;
}
.logo-studio {
      color: #000000;
      }
.site-nav a {
      color: #212121;
      text-decoration: none;
     }
.site-nav li {
      list-style-type: none;
}
      
.site-nav a:hover,
.site-nav a:focus {
      color: #2196F3;
}

.contact-header a {
      color: #757575;
      text-decoration: none;
}
.contact-header li {
      list-style-type: none;

}
.contact-header a:hover,
.contact-header a:focus {
      color: #2196F3;
}
/* baner*/
.banner {
      background-color: #2F303A;
}
.banner-title {
      color: #FFFFFF;
      font-family: Roboto;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
}
.banner-button {
      position: relative; left: 47%;
      background-color: #2196F3;
      color: #FFFFFF;
      border-radius: 5px;
}
/* advantages*/
.advantasge-list {
      list-style-type: none;
}
.advantage-title {
      color: #212121;
      font-family: Roboto;
      font-weight: 700;
}
.advatage-text {
      color: #757575
      font-family: Roboto;
      font-weight: 400;
}
/* whatwedo*/
.whatwedo-list {
       list-style-type: none;
}
.whatwedo-title {
      color: #212121;
      font-family: Roboto;
      font-weight: 700;
}
/*ourteam*/
.ourteam-list {
      list-style-type: none;
}
.ourteam-title {
      color: #212121;
      font-family: Roboto;
      font-weight: 700;
}
.name {
      color: #212121;
      font-family: Roboto;
      font-weight: 500;
}
.position {
      color: #757575;
      font-family: Roboto;
      font-weight: 400;

}

/* footer*/
.page-footer {
      background-color: #2F303A;
}
.logo-studio {
      color: #FFFFFF;
}
.address {
      font-style: normal;
}
.address-item {
      color: #FFFFFF;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
}
.address-ad {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      text-decoration: none;
}
.address .link:hover,
.address .link:focus{
      color: var(--accent-color);
}

font-family: 'Raleway', sans-serif;
>>>>>>> 2842f5d276404a9807354c9db4264f817cd8fc32
font-family: 'Roboto', sans-serif;